
<h1>Diner des philosophes</h1>
<div class="circle-container">
<!--    <app-philosophe class="circle-element" *ngFor="let philosophe of philosophes; let i = index" [style.transform]="'translate(-50%, -50%) rotate(' + (360 / numPhilosophers * i) + 'deg) translate(0, -50px)'" [philosophe]="philosophe"></app-philosophe>-->

  <app-philosophe [philosophe]="philosophe" class="circle-element" *ngFor="let philosophe of philosophes; let i = index" [style.transform]="'translate(-50%, -50%) rotate(' + (360 / numPhilosophers * i) + 'deg) translate(0, -250px)'"></app-philosophe>
</div>

